h1{
    color: #34547a;
    font-size: 48px;
}

p{
    color: #000;
    font-size: 16px;
}

header{
    background: #EEEFF1;
    display: flex;


}

body{
    background: #EEEFF1;
}

.header_logo{
    cursor: pointer;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    margin-top: 35px;
    margin-left: 402px;
}

.header_menu{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
    margin-left: 398px;
    margin-top: 79px;
}

.header_menu a{
    margin-left:  42px;
}

.intro{
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.intro_left{
    padding-top: 50px;
    width: 357px;   
}

.intro_right{
    width: 540px;
    height: 67px;    
    margin-left: 130px;
    margin-bottom: 271;
}

.intro_title{
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%; /* 78.75px */
}

.intro_text{
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
}

.about{
    background: white;
}

.wrapper{
    margin: 0 auto;
    max-width: 1150px;
}

.about_wrapper{
    display: flex;
    justify-content: center;
}

.about_block{
    text-align: center;
    width: 540px;
    
}

.about_title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 119px;
    margin-bottom: 50px;
}

.about_text{
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    margin-bottom: 100px;
}

.projects{
    background: #34547A;
}

.projects_wrapper{
    display: flex;
    justify-content: center;
}

.projects_block{
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects_img{
    width: 141px;
}

.skills{
    background: white;
}

.skills_wrapper{
    display: flex;
    justify-content: center;
}

.skills_img{
    width: 555px;
    margin-top: 102px;
    margin-bottom: 101px;
}

.skills_left{
    width: 445px;
    margin-right: 150px;
}

.skills_title{
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 204px;
    margin-bottom: 50px;
}

.skill{
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    padding-bottom: 24px;
}

.skill_1{
    position: relative;
}

.skill_1::before{
    background: #c4c4c4;
    content: " ";
    width: 445px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.skill_1::after{
    background: #34547A;
    content: " ";
    width: 400px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.skill_2{
    position: relative;
}

.skill_2::before{
    background: #c4c4c4;
    content: " ";
    width: 445px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.skill_2::after{
    background: #34547A;
    content: " ";
    width: 320px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.skill_3{
    position: relative;
}

.skill_3::before{
    background: #c4c4c4;
    content: " ";
    width: 445px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.skill_3::after{
    background: #34547A;
    content: " ";
    width: 270px;
    height: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.process_wrapper{
    display: flex;
    justify-content: center;
}

.process_block{
    width: 540px;
    text-align: center;
}

.process_title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 500px;
}

.process_text{
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
   
}